/* Uses grid layout if supported */
@supports (display: grid) {
  .main-head {
    grid-area: header;
    /*display: grid;*/
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .main-footer {
    grid-area: footer;
  }

  /* Mobile/default layout */
  .wrapper {
    display: grid;
    /*grid-gap: 20px;*/
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "footer";
  }
  /* Uses a two-column layout from 600px on */
  @media (min-width: 600px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "content content"
        "sidebar sidebar"
        "footer  footer";
    }

    /* Displays the nav bar horizontally */
    .main-nav ul {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
}
