/*Encode Sans for the page content*/
@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

/*Catamaran font for Headings*/
@import url('https://fonts.googleapis.com/css?family=Catamaran');

/*Racing Sans One for the title*/
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

:root {
  --font-color: rgb(11, 11, 11);
  /*Colors for background, main-bg-color is used for website content*/
  --main-bg-color: #EEEEEF;
  --dark-bg-color: #312F2F;
  /*Colors for the links on dark backgrounds, red by default*/
  --link-darkbg: #FFC200;
  --link-darkbg-h: #ffdf67;
  /*Colors for the links on bright backgrounds, yellow by default*/
  --link-lightbg: #C85426;
  --link-lightbg-h: #B67776;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans", Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

body {
  background-color: #000;
  background: url("images/background.png") fixed center;
}

h1 {
  font-size: 1.55em;
  text-shadow: 0px 2px 0px #fff;
}
h2 {
  font-size: 1.4em;
  text-shadow: 0px 2px 0px #fff;
}
h3 {
  font-size: 1.17em;
  text-shadow: 0px 2px 0px #fff;
}
h4 {
  font-size: 1.12em;
  text-shadow: 0px 1px 0px #fff;
}
h5 {
  font-size: 1em;
  text-shadow: 0px 1px 0px #fff;
}
h6 {
  font-size: 0.9em;
  text-shadow: 0px 1px 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran";
}

/*Links*/
a {
	color: var(--link-lightbg);
}
a:hover {
	color: var(--link-lightbg-h);
}

/* Segment styles */
.wrapper{
  max-width: 1280px;
  margin: 0 auto;
  border-left: 2px solid var(--dark-bg-color);
  border-right: 2px solid var(--dark-bg-color);
  border-bottom: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.76);
  -moz-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.76);
  box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.76);
}

.bg-bright {
  background-color: var(--main-bg-color);
}

.bg-gradient-dark {
  background: #4c4c4c; /* Old browsers */
  background-image: url("images/noise.png");
  background: -moz-linear-gradient(top, #4c4c4c 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

.bg-pattern-bright {
  background-color: var(--main-bg-color);
  background: url("images/holepattern-bright.png");
  -webkit-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1);
  border: 4px solid var(--main-bg-color);
}

.bg-pattern-dark {
  background-color: var(--dark-bg-color);
  background: url("images/holepattern.png");
  -webkit-box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.76);
  -moz-box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.76);
  box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.76);
  border-bottom: 2px solid var(--dark-bg-color);
}

.main-head {
  display: flex;
  align-content: center;
  height: 4.5em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgb(29, 29, 29);
}
.main-head a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.site-logo {
  margin: auto 1em auto 1em;
  height: 4em;
}
.site-title {
  font-size: 1.5em;
  font-family: "Racing Sans One";
  color: var(--link-darkbg);
  text-shadow: 0px 2px #816204;
}

.content {
  padding: 1em 1em;
  min-height: 400px;
}
.content p {
  padding-left: 0.5em;
  margin-bottom: 1em;
}

.main-nav {
  font-family: "Catamaran";
  overflow-x: auto;
}
.main-nav ul {
  list-style: none;
  margin: 0.5em auto;
}
.main-nav li {
  display: flex;
  justify-content: center;
  padding: 0em 0.1em;
}
.main-nav li a {
  padding: 0.5em 1.5em;
  color: var(--link-darkbg);
  text-decoration: none;
}
.main-nav a:hover {
  background-color: rgba(255, 245, 0, 0.26);
}

.side {
  padding: 1em 1em;
}

.main-footer {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  font-family: "Catamaran";
  background-color: var(--dark-bg-color);
}

.main-footer p {
  color: var(--link-darkbg);
}

/* Uses grid layout if supported */
@supports (display: grid) {
  .main-head {
    grid-area: header;
    /*display: grid;*/
  }
  .content {
    grid-area: content;
    padding: 1em 1em;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .main-footer {
    grid-area: footer;
  }

  /* Mobile/default layout */
  .wrapper {
    display: grid;
    /*grid-gap: 20px;*/
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "footer";
  }
  /* Uses a two-column layout from 600px on */
  @media (min-width: 600px) {
    .wrapper {
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "content sidebar"
        "footer  footer";
    }
    /* Displays the nav bar horizontally */
    .main-nav ul {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
}
