<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css', 100) %}
        {% do assets.addCss('theme://css/layouts/default.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}
</head>
<body>
  <div class="wrapper">
    <header class="main-head bg-gradient-dark">
      <a href="#">
        <img src="theme://images/favicon.png" class="site-logo"><span class="site-title">Re-Volt I/O</span>
      </a>
    </header>
    <nav class="main-nav bg-pattern-dark">
      <ul>

        <li><a href="">Overview</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Downloads</a></li>
        <li><a href="">Online</a></li>
        <li><a href="">Re-Make</a></li>
        <li><a href="">Other Games</a></li>
        <li><a href="">FAQ / About</a></li>
      </ul>
    </nav>
    <div class="content bg-bright">
      {% block content %}{% endblock %}
    </div>
    <aside class="side bg-pattern-bright">Sidebar</aside>
    <footer class="main-footer bg-pattern-dark"><p>2017 re-volt.io</p></footer>
  </div>
</body>
</html>
