{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: theme_config.default_lang }}">
  <head>
    {% block head %}
      {% include 'partials/head-item.html.twig' %}
    {% endblock %}
  </head>
  <body class="{{ page.header.body_classes }}">

    <div class="wrapper">

    {% block header %}
      {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}



    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block bottom %}
      {{ assets.js('bottom') }}
    {% endblock %}

    </div>

  </body>
</html>
