{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% include 'partials/head.html.twig' %}
    {% endblock %}
  </head>
  <body class="{{ page.header.body_classes }}" style="background: url({{ url('theme://images/' ~ theme_config.background.file) }}) fixed center no-repeat; background-size: cover;">

    <div class="wrapper wrapper-full">


    {% block content %}{% endblock %}

    {% block sidebar %}
      {% include 'partials/sidebar.html.twig' %}
    {% endblock %}

    </div>

  </body>
</html>
