<meta charset="utf-8"/>
<title>
  {% if header.title %}
    {{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% include 'partials/metadata.html.twig' %}

<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
<link rel="canonical" href="{{ page.url(true, true) }}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

     {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css') %}
        {% do assets.addCss('theme://css/custom.css') %}
        {% do assets.addCss('theme://css/layouts/sidebar-bottom.css') %}
  
        

    {% endblock %}
    {{ assets.css() }}



{% block javascripts %}
  {% do
    assets.addJs('theme://dist/js/app.js', {group: 'bottom'}) %}
{% endblock %}
{{ assets.js() }}
