/* This is the common style for all layouts. This also works if the browser
   doesn't support grid yet. */

/*Encode Sans for the page content*/
@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

/*Catamaran font for Headings*/
@import url('https://fonts.googleapis.com/css?family=Catamaran');

/*Racing Sans One for the title*/
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

/* Global variables for colors and sizes */
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: --var(--main-bg-color);
}

@media (min-width: 800px) {
  body {
    background-size: cover;
  }
}

h1 {
  font-size: 1.55em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.15em;
}
h6 {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran";
  color: var(--font-color);
}

h1.chapter-title {
  font-size: 2.5em;
}

hr {
  margin: 2em;
  border-top: 2px solid #8B8B8B;
}

/*Links*/
a {
	color: var(--link-lightbg);
}
a:hover {
	color: var(--link-lightbg-h);
}

/* Segment styles */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border-left: 2px solid var(--dark-bg-color);
  border-right: 2px solid var(--dark-bg-color);
  border-bottom: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.76);
  -moz-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.76);
  box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.76);
}

.bg-bright {
  background-color: var(--main-bg-color);
}
.bg-darker {
  background-color: var(--main-bg-color-darker);
}

.bg-gradient-dark, .main-head, th {
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

.bg-pattern-bright, .column {
  background-color: var(--main-bg-color);
  background: url("../images/pattern-bright.png");
  -webkit-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.1);
  border: 4px solid var(--main-bg-color);
}

.bg-pattern-dark, .main-nav, pre, .gallery, #breadcrumbs, nav.toc, span.tags {
  background-color: var(--dark-bg-color);
  background: url("../images/holepattern.png");
  -webkit-box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.76);
  -moz-box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.76);
  box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.76);
  border-bottom: 2px solid var(--dark-bg-color);
}

.bg-pattern-holes-bright, .content-columns {
  background-color: var(--darker-bg-color);
  background: url("../images/holepattern_bright.png");
  /*-webkit-box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.5);*/
  /*-moz-box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.5);*/
  /*box-shadow: inset 0px 4px 16px -1px rgba(0,0,0,0.5);*/
  border-bottom: 2px solid var(--dark-bg-color);
}

.main-head {
  display: flex;
  align-content: center;
  height: 4.5em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgb(29, 29, 29);
}
.main-head a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.site-logo {
  margin: auto 1em auto 1em;
  height: 4em;
}
.site-title {
  font-size: 1.5em;
  font-family: "Racing Sans One";
  color: var(--link-darkbg);
  text-shadow: 0px 2px #816204;
}

.showcase {
  height: 220px;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 2.5em 2.5em;
  min-height: 400px;
}
.content p {
  color: var(--font-color);
  margin-bottom: 1em;
  line-height: 1.4em;
}
.content img {
  max-width: 100%;
}
.content p img {
  padding: 0.5em;
  box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.3);
  background: url("../images/pattern-bright.png");
  margin: 1em auto;
  display: block;
  border-radius: 8px;
}

.columns, .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.column {
  vertical-align: top;
  width: 300px;
  float: left;
  display: inline-block;
  padding: 1em;
  margin: 0.5em;
  border-radius: 4px;
  box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.25);

}
.gallery {
  border-radius: 4px;
}
.gallery img {
  max-width: 256px;
  margin: 1em 1em !important;
  box-sizing: border-box;
}
.gallery p {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-bottom: 1em;
  margin-left: 1em;
}
li {
  margin: 0.5em 1em;
  padding-left: 0.5em;
}
ul > li > ul {
  padding: 0;
}

@media(min-width: 800px) {
  .horizontal-list, .horizontal-list li{
    display: inline-block;
    margin-bottom: 0;
  }  
}

table, td {
  border: 1px solid #E4E4E4;
  border-collapse: collapse;
  padding: 0.5em 1em;
}
tr:nth-child(odd) {
  background-color: white;
}
th {
  color: var(--font-color-bright);
  padding: 0.5em 1em;
  border: 0;
}

pre {
  width: 800px;
  margin: auto;
  overflow: auto;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 2px solid var(--dark-bg-color);
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  background: url("../images/pattern-bright.png");
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 0.1em 0.2em;
}
pre code {
  color: white;
  background: none !important;
  border: none !important;
}

/* Menu */
.main-nav {
  font-family: "Catamaran";
}
.main-nav > ul > li > a:hover {
  /*alternative: background-color: rgba(255, 245, 0, 0.26);*/
  box-shadow: inset 0px -9px 5px -4px rgba(255,251,196,0.4);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  transition: box-shadow 60ms ease-in;
}
.main-nav > ul > li > ul > li > a:hover {
  /*alternative: background-color: rgba(255, 245, 0, 0.26);*/
  box-shadow: inset 50px 0px 20px -40px rgba(255,251,196,0.5);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  transition: box-shadow 60ms ease-in;
}
.main-nav .active {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
.main-nav .active:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
}
.main-nav .active:after {
  content: "\f100"; /* FontAwesome Unicode */
  font-family: FontAwesome;
}
.main-nav li a {
  color: var(--link-darkbg);
  text-decoration: none;
  transition: background-color 100ms ease-out;
  white-space: nowrap;
}

/* Mobile menu with sub-pages */
/*@media (max-width: 600px) {
  .main-nav ul {
    list-style: none;
    margin: 0.5em auto;
  }
  .main-nav li {
    display: block;
    padding: 0.2em 0.1em;
  }
  .main-nav li a {
    margin: 0.5em 1.5em;
    padding: 0.5em 1.5em;
  }
}*/

/* Mobile menu without sub-pages */
@media (max-width: 800px) {
  .main-nav {
    overflow-x: auto;
  }
  .main-nav ul {
    list-style: none;
    margin: 0.5em auto;
  }
  .main-nav ul ul {
    display: none;
  }
  .main-nav li {
    display: flex;
    justify-content: center;
    padding: 0em 0.1em;
    margin: 0;
  }
  .main-nav li a {
    padding: 0.5em 1.5em;
  }
}

/* Desktop menu */
@media (min-width: 800px) {
  .main-nav {
    height: 36px;
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
  }
  .main-nav ul li {
    display: inline-block;
    padding: 0em 0.1em;
    margin: 0;
  }
  .main-nav li a {
    padding: 0.5em 1em;
    display: block;
  }
  .main-nav ul ul {
    display: none;
    position: absolute;
    border: 2px solid var(--dark-bg-color);
    border-radius: 0 0 4px 4px;
    background-color: var(--dark-bg-color);
    background: url("../images/holepattern.png");
    -webkit-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.5);
  }
  .main-nav ul li:hover > ul {
    display: inherit;
    top: 36px;
    z-index: 999;
  }
  .main-nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
  }
}

.side p {
  line-height: 1.4em;
}
.side {
  padding: 1em 1em;
}
.side ul a {
  text-decoration: none;
}
.side a.active {
  font-weight: bold;
  text-decoration: underline;
}
.side ul {
  list-style: none;
}
.side ul:not(.horizontal-list) > li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 0.8em; /* same as padding-left set on li */
}

.main-footer {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  font-family: "Catamaran";
  background-color: var(--dark-bg-color);
}

.main-footer p {
  color: var(--link-darkbg);
}



/* Grav-specific fixes */
/* MD Notices plugin */
div.notices {
  padding-top: 1em;
  border-radius: 4px;
}

/* TOC plugin */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none !important;
  color: var(--font-color) !important;
}

#breadcrumbs a, nav.toc a{
  color: var(--link-darkbg);
  text-decoration: none;
  font-weight: bold;
} 

#breadcrumbs, nav.toc {
  font-weight: bold;
  padding: 1em;
  border-radius: 4px;
  color: var(--font-color-bright);
  margin-bottom: 2em;
}

nav.toc ul {
  list-style: none;
}

nav.toc ul {
  padding-bottom: 0;
}

ul.table-of-contents {
}

/* New summary of the main page */

.card {
  display: block;
  position: relative;

  border-radius: 4px;
  margin-bottom: 0.8em;
  padding: 0.5em;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 30px #fcfaf9;
  border: solid 1px rgba(0, 0, 0, 0.15);

  background-color: rgb(250, 250, 250);
  font-size: 90%;
}

.card p img {
  display: none;
  margin: 0;
  padding: 0;
}

.card p.date {
  margin-top: -1em;
  margin-bottom: 0.7em;
  font-style: italic;
}

.card h3 a {
  font-size: 0.8em;
  color: var(--link-lightbg) !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 260px;
    display: block;
    overflow: hidden;
  margin-bottom: 1em;
}

.card h2 {
  margin-left: 0.5em;
  padding: 0;
  font-size: 1em;
}

.card p {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.4em;
}

/* Tag List */

span.tags {
  display: block;
  padding: 1em;
  border-radius: 4px;
}

span.tags a {
  color: var(--link-darkbg);
  text-decoration: none;
  font-weight: bold;
  background-color: #333333;
  border: 1px solid #656565;
  border-radius: 3px;
  line-height: 2.3em;
  padding: 0.2em 0.5em;
}