{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if page.header.showcase %}
        {% set background_image = page.media.images|randomize|first %}
        <div class="showcase" {% if background_image %}style="background-image: url({{ background_image.url }});"{% endif %}>
        </div>
    {% endif %}
    <div class="content bg-bright">
	  {% include 'partials/breadcrumbs.html.twig' %}
	  <h1>{{page.title}}</h1>
	  <hr>
      {{ page.content }}

      <hr>

      <p>Created on {{ page.date|date("d-m-Y") }}, last modified: {{ page.modified|date("d-m-Y")   }}</p>
    </div>
{% endblock %}